body {
    margin:0;
    background-color: whitesmoke;
}

.navbar {
    height: 100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
}

.todo-list {
    background-color: white;
    margin:auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow: 5px 5px 4px 1px #888888;
    padding: 30px; 
    margin-top: 15px;   
}

.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px 0;
    width:70%;
    border-bottom:1px solid #cecece;
    font-family:Roboto, sans-serif;
    font-weight:100;
}

input[type=checkbox] {
    margin-right:20px;
    transform: scale(2);
}

.contact-card {
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 50%;
    box-shadow: 5px 5px 4px 1px #888888;
    padding: 30px; 
    background-color: #cecece;
}

.joke {
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 50%;
    box-shadow: 5px 5px 4px 1px #888888;
    padding: 10px; 
    background-color: #777;
    flex-direction: column;
    font-size: 24px;
    color: #fff;
    
}